@use './normalize.scss' as *;
@use './reset.scss' as *;
@use './fonts.scss' as *;
@use './vars.scss' as *;

body {
  font-family: Poppins-Custom;
}

.svg {
  stroke: var(--svg-primary);
}

.svg-primary {
  stroke: var(--svg-primary);
}

.svg-secondary {
  stroke: var(--svg-secondary);
}
