:root {
  --background-navigation: #3b3b3b;
  --background-primary: #f7f7f7;
  --background-aside: #ffffff;
  --svg-primary: #ffffff;
  --svg-secondary: #000000;
  --button-navigation-hover: #626262;
  --button-hover: #3b3b3b;
  --button-border: #cccccc;
  --primary-text: #000000;
  --secondary-text: #ffffff;
  --subtitle-text: #b3b3b3;
}
