/* -------------Titles--------------- */

.title20_semibold {
  font-size: 20px;
  font-weight: 600;
}

/* -------------Paragraphs--------------- */

.paragraph16_regular {
  font-size: 16px;
  font-weight: 400;
}

/* -------------Colors--------------- */
.primary {
  color: var(--primary-text);
}

.secondary {
  color: var(--secondary-text);
}

.subtitle {
  color: var(--subtitle-text);
}
